*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.home-page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 2rem 3.2rem;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../../assets/images/bg-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2{
    font-size: 24px;
    color: #F7F7F7;
}

.navbar{
    display: flex;
    gap: 5rem;
}

.nav-list{
    display: flex;
    gap: 3rem;
   
}

.nav-list a{
     color: #EEEEEE;
     font-size: 1.25rem;
     font-weight: 500;
     font-family: Arial, Helvetica, sans-serif;
}

.nav-button a{
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px 24px;
    background: #1F2122;
    color: #EEEEEE;
    font-size: 1.25rem;
    font-weight: 500;
}


/* Hero Section */

.hero-content{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.hero-text h1{
    font-size: 7rem;
    font-weight: 500;
    color: #F7F7F7;
}

.hero-text p{
    font-size: 24px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}


.hero-description{
    padding: 10px 10px 10px 36px;
    border-left: 4px solid #EEEEEE;
    max-width: 600px;
}

.hero-description p{
    font-size: 20px;
    color: #EEEEEE;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}


/* About Section */

.container{
    max-width: 1160px;
    margin: auto;
}

.about-section{
    margin-top: 7.5rem;
}

.about-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.about-content{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.about-text p{
    font-size: 24px;
    color: #393E46;
    line-height: 1.7;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.about-bottom-content{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.about-line{
    width: 83.6%;
    background-color: #1F2122;
    height: 4px;
}

.about-button {
    text-align: end;
}

.about-button button{
    padding: 16px 24px;
    color: #1F2122;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    border: 3px solid #1F2122;
}

/* Our Cafe Section */

.our-cafe-section{
    margin-top: 7.5rem;
}

.our-cafe-container{
    display: flex;
}

.our-cafe-content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 50%;
}

.our-cafe-text{
    padding: 0px 3.2rem 1rem;
}

.our-cafe-text h3{
    font-size: 3rem;
    color: #1F2122;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.our-cafe-text p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #393E46;
    font-weight: 500;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 3rem;
}

.our-cafe-text button{
    padding: 16px 24px;
    border: 3px solid #1F2122;
    font-size: 20px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.our-cafe-image img{
    width: 100%;
}

/* Reservation Section */

.reservation-section{
    margin-top: 7.5rem;
}

.reservation-container{
    max-width: 950px;
    margin: auto;
}

.reservation-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.reservation-content h2{
    font-size: 3rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.25;
    color: #1F2122;
    text-align: center;
}

.reservation-content button{
    padding: 16px 24px;
    border: 3px solid #1F2122;
    font-size: 20px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif; 
}

/* Menu Section */

.menu-section{
    margin-top: 7.5rem;
}

.menu-section h2{
    margin-bottom: 1.5rem;
    font-size: 3rem;
    font-weight: 400;
    color: #1F2122;
}

.menu-container{
    display: flex;
}


.menu-card-1{
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../../assets/images/menu1.png');
     background-size:100% 100%;
     background-repeat: no-repeat;
     min-width: 560px;
}

.menu-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 250px;
    margin: auto;
}

.menu-text h3{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #F7F7F7;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.menu-text p{
   font-size: 24px;
   line-height: 1.5;
   color: rgb(186, 186, 186);
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   margin-bottom: 1rem;
}

.menu-text .menu-button{
    padding: 16px 24px;
    border: 3px solid #F7FFFF;
    font-family: Arial, Helvetica, sans-serif;
    color: #F7FFFF;
    font-size: 20px;
    font-weight: 500;
    background-color: transparent;
}

.menu-card-2{
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../../assets/images/menu2.png');
     background-size:100% 100%;
     background-repeat: no-repeat;
     min-width: 300px;

}


.menu-card-3{
     background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../../assets/images/menu3.png');
     background-size:100% 100%;
     background-repeat: no-repeat;
     min-width: 300px;
}

.menu-text-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    width: 250px;
    margin: auto;
}

.menu-text-2 h3{
    font-size: 2rem;
    color: #F7F7F7;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}


/* Latest Section */

.latest-section {
    margin-top: 7.5rem;
}

.latest-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

.latest-content h2{
    font-size: 3rem;
    font-weight: 400;
    color: #1F2122;
}

.latest-content button{
    border: 3px solid #1F2122;
    padding: 16px 24px;
    font-size: 20;
    color: #1F2122;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.latest-cards-container{
    display: flex;
    gap: 24px;
}

.latest-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.latest-card img{
    width: 100%;
}

.latest-card h3{
    font-size: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: #1F2122;
}


/* Footer Section */

.footer{
    margin-top: 7.5rem;
}

.footer-container{
    padding: 128px 64px;
    background: #1F2122;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.footer-form-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 36px;
    width: 50%;
}

.footer-form-container label{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-form-container input{
    border: none;
    background: transparent;
    border-bottom: 2px solid #F7FFFF;
    outline: none;
    padding-bottom: 16px;
    width: 100%;
}

.footer-form-container .input-field{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    width: 100%;
}

.text-area-field{
     grid-column: 1/-1;
}

.input-field textarea{
    align-self: stretch;
    background: transparent;
    color: #777777;
    border: none;
    border-bottom: 2px solid #F7F7F7;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}


::placeholder{
    color: #777777;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.submit-button button{
    border: none;
    padding: 16px 24px;
    color: #1F2122;
    background-color: #F7FFFF;
    font-size: 20px ;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;

}

.footer-content-addresses{
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 38%;
}

.flex-container{
    display: flex;
    gap: 24px;
}

.flex-container h3{
    font-size: 20px;
    font-weight: 600;
    color: #F7F7F7;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-text{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 30px;
}














